SPRING_APPLICATION_NAME=backend

DB_URL=database-url
DB_USERNAME=username
DB_PASSWORD=database-password
JPA_HIBERNATE_DDL_AUTO=auto
JPA_SHOW_SQL=true

JWT_SECRET=ypur-jwt-secret-key
JWT_EXPIRATION=8640000
FRONTEND_URL=frontend-url

JUDGE0_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_API_KEY=judge-api-key
JUDGE0_HOST=judge0-ce.p.rapidapi.com

PORT=8080